@media (max-width: 1920px ){
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 30px;
    }
    #info-content{
        gap: 45px;
    }
    #center-wrapper{
        width: 70vw;
        margin: 0 auto;
    }
    #logo-text{
        max-width: 20%;
        font-size: 22px;
        margin-bottom:45px;
    }
    #grid-logo{
        gap: 15px;
        margin: 50px auto;
    }
    #image img{
        width: 264px;
    }
    #logo img:hover{
        height: 135px;

        transition: width 0.08s ease-in, width 0.08s ease-out ;
        transition: height 0.08s ease-in, height 0.08s ease-out ;
    }
    #logo img:not(hover){
        height: 150px;
    
        transition: width 0.1s ease-out, width 0.1s ease-in ;
        transition: height 0.1s ease-out, height 0.1s ease-in ;
    }
    #certificate-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        column-gap: 6px !important;
        width: 70vw;
        margin: 0px auto !important;
    }
    #certificate-grid img{
        width: 90%;
        height: 90%;
    }
}
@media (max-width: 1275px ){
    #center-wrapper{
        width: 80vw;
        margin: 0 auto;
    }
    #logo-text{
        max-width: 24%;
    }
    #certificate-grid{
        grid-template-columns: 1fr 1fr;
        width: 80vw;
    }
    #info-content{
        padding: 20px;
        text-align: left;
    }
    
}


@media (max-width: 960px ){
    nav{
        background-color:rgb(18, 18, 20) !important;  
    }
    #toggle-button{
        display: flex;
        margin-right: 5px;
        margin-top: 2px;
    }
    .container{
        width: 92%;
        display: block;
        z-index: -10000;
        background-color:rgb(18, 18, 20) !important;  
        border-radius: 0px 0px 25px 25px;
    }
    #nav-links {
        display: none;
        width: 100%;
    }
    #nav-name{
        font-size: 1.75rem;
        margin: .5rem
    }
    #nav-links ul{
        flex-direction: column;
        width: 100%; 
        background-color:rgb(18, 18, 20) !important;    
        border-radius: 0px 0px 25px 25px ;
    }
    #nav-links li{
        padding: 5px;
    }
    #nav-links a{
        padding: .5rem 1rem;
        margin: 0px auto;
    }
    #nav-links.active{
        display: flex;
    }
    #info-content{
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        vertical-align: middle;
        gap: 15px;
    }
    #grid-logo{
        gap: 15px;
    }
    #certificate-grid{
        grid-template-columns: 1fr 1fr;
        width: 80vw;
    }
    #certificate-grid img{
        width: 90%;
        height: 90%;
    }

}

@media (max-width: 840px ){

    #image img{
        width: 200px;
    }
    #info-content{
        flex-direction: column; 
    }
    #center-wrapper{
        width: 85vw;
        margin: 0 auto;
    }
    #logo-text{
        max-width: 27%;
        font-size: 18px;
        margin-bottom:45px;
    }
}

@media (max-width: 674px ){
    #certificate-grid{
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    #certificate-grid img{
        width: 100%;
        height: 100%;
    }
    #info-content{
        gap: 5px;
    }
    #info-content{
        padding: 4px;
    }
}


@media (max-width: 540px ){
    #toggle-button{
        margin: 0 auto;
    }
    #image img{
        width: 140px;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 22px;
    }
    h4{
        font-size: 25px;
    }
    h5{
        font-size: 21px;
    }
    #image img{
        width: 200px;
    }
    #grid-logo{
        gap: 25px;
        margin: 50px;
    }
    #info-content{
        gap: 0px !important;
    }
    #logo img{
        height: 110px !important;
        width: 110px !important;
    }
    #center-wrapper{
        width: 92vw;
        margin: 0 auto;
    }
    #logo-text{
        max-width: 30%;
        font-size: 17px;
    }
    #contact a{
        margin:8px;
        padding: 0px;
    }
    footer h3{
        margin: 20px 0px 20px 0px;
        font-size: 15px !important;
    }
    #certificate-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 420px ){
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 24px;
    }
    h5{
        font-size: 20px;
    }
    #landing-wrapper{

    }
    #info-content{
        
    }
    #image img{
        width: 154px;
    }
    #grid-logo{
        gap: 18px;
        margin: 20px;
    }
    #center-wrapper{
        width: 95vw;
        margin: 0 auto;
    }
    #logo-text{
        max-width: 35% ;
        font-size: 15px ;
        margin-bottom:38px ;
    }
    #logo img{
        width: 85px !important;
        height: 85px !important;
    }
    #logo img:hover{
        height: 78px !important;
        width: 78px !important;

        transition: width 0.1s ease-in, width 0.1s ease-out ;
        transition: height 0.1s ease-in, height 0.1s ease-out ;
    }
    #logo img:not(hover){
        height: 85px !important;
        width: 85px !important;
    
        transition: width 0.1s ease-out, width 0.1s ease-in ;
        transition: height 0.1s ease-out, height 0.1s ease-in ;
    }
    #contact a{
        margin:7px;
        padding: 2px;
    }
    #certificate-grid{
        grid-template-columns: 1fr 1fr;
    }
}