@media (max-width: 1920px ){
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 30px;
    }
    nav{
        background-color:rgba(21, 21, 27, 0.54);
    }
    #nav-name{
        font-size: 1.7em;
        margin: .8em
    }
    #nav-links a{
        padding: 1vw;
        margin-right: 15px;
    }
    #center-wrapper{
        width: 70vw;
        margin: 0 auto;
    }
    #logo-text{
        max-width: 20%;
        font-size: 22px;
        margin-bottom:45px;
    }
    #grid-logo{
        gap: 15px;
    }
    #image img{
        width: 264px;
    }
    }
    #logo img:hover{
        height: 135px;

        transition: width 0.08s ease-in, width 0.08s ease-out ;
        transition: height 0.08s ease-in, height 0.08s ease-out ;
    }
    #logo img:not(hover){
        height: 150px;
    
        transition: width 0.1s ease-out, width 0.1s ease-in ;
        transition: height 0.1s ease-out, height 0.1s ease-in ;
    }
    #certificate-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
        width: 70vw;
    }
    #certificate-grid img{
        width: 90%;
        height: 90%;
    }

@media (max-width: 1275px ){
    #center-wrapper{
        width: 80vw;
        margin: 0 auto;
    }
    #logo-text{
        max-width: 24%;
    }
    #certificate-grid{
        grid-template-columns: 1fr 1fr;
        width: 80vw;
    }
}


@media (max-width: 960px ){
    #info-content{
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        vertical-align: middle;
        gap: 25px;
    }
    #grid-logo{
        gap: 15px;
    }
    #certificate-grid{
        grid-template-columns: 1fr 1fr;
        width: 80vw;
    }
    #certificate-grid img{
        width: 90%;
        height: 90%;
    }

}

@media (max-width: 840px ){
    #toggle-button{
        display: flex;
        margin-right: 5px !important;
        margin-top: 2px !important;
    }
    nav{
        display: block;
        background-color:rgb(23, 23, 29);
    }
    #nav-links {
        display: none;
        width: 100%;
    }
    #nav-name{
        font-size: 1.75rem;
        margin: .5rem
    }
    #nav-links ul{
        flex-direction: column;
        width: 100%; 
    }
    #nav-links li{
        text-align: center;
        padding: 5px;
    }
    #nav-links a{
        padding: .5rem 1rem;
    }
    #nav-links.active{
        display: flex;
    }

    #image img{
        width: 200px;
    }
    #info-content{
        flex-direction: column; 
    }
    #center-wrapper{
        width: 85vw;
        margin: 0 auto;
    }
    #logo-text{
        max-width: 27%;
        font-size: 18px;
        margin-bottom:45px;
    }
    #certificate-grid{
        width: 94vw;
    }

}

@media (max-width: 674px ){
    #certificate-grid{
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    #certificate-grid img{
        width: 100%;
        height: 100%;
    }
}


@media (max-width: 540px ){
    #toggle-button{
        margin: 0 auto;
    }
    #image img{
        width: 140px;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 22px;
    }
    h4{
        font-size: 25px;
    }
    h5{
        font-size: 21px;
    }
    #image img{
        width: 200px;
    }
    #grid-logo{
        gap: 25px;
        margin: 50px;
    }
    #logo img{
        height: 110px !important;
        width: 110px !important;
    }
    #center-wrapper{
        width: 92vw;
        margin: 0 auto;
    }
    #logo-text{
        max-width: 30%;
        font-size: 17px;
    }
    #contact a{
        margin:8px;
        padding: 0px;
    }
    footer h3{
        margin: 20px 0px 20px 0px;
        font-size: 15px !important;
    }
    #certificate-grid{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 90vw;
    }
}

@media (max-width: 420px ){
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 24px;
    }
    h5{
        font-size: 20px;
    }
    #image img{
        width: 154px;
    }
    #grid-logo{
        gap: 18px;
        margin: 20px;
    }
    #logo img{
        width: 80px !important;
        height: 80px !important;
    }
    #center-wrapper{
        width: 95vw;
        margin: 0 auto;
    }
    #logo-text{
        max-width: 30% ;
        font-size: 15px ;
        margin-bottom:38px ;
    }
    #logo img:hover{
        height: 92px !important;
        width: 92px !important;

        transition: width 0.1s ease-in, width 0.1s ease-out ;
        transition: height 0.1s ease-in, height 0.1s ease-out ;
    }
    #logo img:not(hover){
        height: 100px !important;
        width: 100px !important;
    
        transition: width 0.1s ease-out, width 0.1s ease-in ;
        transition: height 0.1s ease-out, height 0.1s ease-in ;
    }
    #contact a{
        margin:7px;
        padding: 2px;
    }
    #certificate-grid{
        grid-template-columns: 1fr 1fr;
        gap: 6px;
        width: 90vw;
    }
}